# Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Extract:
## Read COVID-19 CSV data into a dataframe

In [2]:
csv_file = "Resources/conposcovidloc.csv"
covid_data_df = pd.read_csv(csv_file, parse_dates = ['Accurate_Episode_Date'])

# Transform:
## Drop unnecessary columns

In [3]:
covid_columns = ['Row_ID', 'Accurate_Episode_Date', 'Age_Group', 'Client_Gender', 'Case_AcquisitionInfo',
                'Outcome1', 'Reporting_PHU', 'Reporting_PHU_City', 'Reporting_PHU_Postal_Code', 'Reporting_PHU_Latitude',
                'Reporting_PHU_Longitude']

covid_transformed_data_df = covid_data_df[covid_columns].copy()
covid_transformed_data_df.head()

,Row_ID,Accurate_Episode_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Reporting_PHU,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,2020-01-22,50s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
1,2,2020-01-21,50s,MALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
2,3,2020-01-24,20s,FEMALE,Travel-Related,Resolved,Middlesex-London Health Unit,London,N6A 5L7,42.981468,-81.254016
3,4,2020-02-05,20s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
4,5,2020-02-16,60s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358

# Transform:
# Rename columns

In [4]:
covid_transformed_data_df = covid_transformed_data_df.rename(columns={'Row_ID': 'ID', 
                                'Accurate_Episode_Date': 'Date',
                                'Client_Gender': 'Gender',
                                'Case_AcquisitionInfo': 'Case_Source',
                                'Outcome1': 'Outcome',
                                'Reporting_PHU': 'Health_Unit',
                                'Reporting_PHU_City': 'City',
                                'Reporting_PHU_Postal_Code': 'Postal_Code',
                                'Reporting_PHU_Latitude': 'Latitude',
                                'Reporting_PHU_Longitude': 'Longitude'})

covid_transformed_data_df.head()

,ID,Date,Age_Group,Gender,Case_Source,Outcome,Health_Unit,City,Postal_Code,Latitude,Longitude
0,1,2020-01-22,50s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
1,2,2020-01-21,50s,MALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
2,3,2020-01-24,20s,FEMALE,Travel-Related,Resolved,Middlesex-London Health Unit,London,N6A 5L7,42.981468,-81.254016
3,4,2020-02-05,20s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
4,5,2020-02-16,60s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358

# Transform:
## rounding numeric values (Lat and Long)

In [5]:
covid_transformed_data_df['Latitude'] = covid_transformed_data_df['Latitude'].round()
covid_transformed_data_df['Longitude'] = covid_transformed_data_df['Longitude'].round()

covid_transformed_data_df.head()

,ID,Date,Age_Group,Gender,Case_Source,Outcome,Health_Unit,City,Postal_Code,Latitude,Longitude
0,1,2020-01-22,50s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,44.0,-79.0
1,2,2020-01-21,50s,MALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,44.0,-79.0
2,3,2020-01-24,20s,FEMALE,Travel-Related,Resolved,Middlesex-London Health Unit,London,N6A 5L7,43.0,-81.0
3,4,2020-02-05,20s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,44.0,-79.0
4,5,2020-02-16,60s,FEMALE,Travel-Related,Resolved,Toronto Public Health,Toronto,M5B 1W2,44.0,-79.0

# Extract:
## Read second data source

In [6]:
csv_file = "Resources/Ministry_of_Health_Service_Provider_Locations.csv"
health_data_df = pd.read_csv(csv_file)
health_data_df.head()

,X,Y,OGF_ID,MOH_SERVICE_PROVIDER_IDENT,SERVICE_TYPE,SERVICE_TYPE_DETAIL,ENGLISH_NAME,FRENCH_NAME,ENGLISH_NAME_ALT,FRENCH_NAME_ALT,ADDRESS_LINE_1,ADDRESS_LINE_2,ADDRESS_DESCRIPTOR,COMMUNITY,POSTAL_CODE,GEOMETRY_UPDATE_DATETIME,EFFECTIVE_DATETIME,SYSTEM_DATETIME,OBJECTID
0,-81.926396,45.978085,127908055,10000000106,Family Health Team - Contract,NaN,Northeastern Manitoulin Family Health Team,NaN,NaN,NaN,15 Meredith Street,Postal Office Box 549,NaN,Little Current,P0P1K0,NaN,2020-04-03T20:42:44.000Z,2020-04-03T20:42:44.000Z,754601
1,-81.320617,48.476893,127908056,10000000107,Family Health Team - Contract,NaN,Northern College (East End FHT),NaN,NaN,NaN,4715 Algonquin Boulevard East,Postal Office Box 3211,NaN,Timmins,P4N8R6,NaN,2020-04-03T20:42:44.000Z,2020-04-03T20:42:44.000Z,754602
2,-78.199754,43.970248,127908057,10000000108,Family Health Team - Contract,NaN,Northumberland FHT,NaN,NaN,NaN,1111 Elgin Street West,"Postal Office Box 83, Northumberland Mall",NaN,Cobourg,K9A4J7,NaN,2020-04-03T20:42:44.000Z,2020-04-03T20:42:44.000Z,754603
3,-79.716322,43.482632,127908058,10000000109,Family Health Team - Contract,NaN,OakMed Family Health Team,NaN,NaN,NaN,231 Oak Park Boulevard,Unit 110,NaN,Oakville,L6H7S8,NaN,2020-04-03T20:42:44.000Z,2020-04-03T20:42:44.000Z,754604
4,-75.719439,45.393236,127908059,10000000110,Family Health Team - Contract,NaN,Ottawa Hospital Academic FHT,NaN,NaN,NaN,210 Melrose Avenue,NaN,NaN,Ottawa,K1Y4K7,NaN,2020-04-03T20:42:44.000Z,2020-04-03T20:42:44.000Z,754605

# Transform:
## Drop unnecessary columns

In [7]:
health_columns = ['X', 'Y', 'OGF_ID','SERVICE_TYPE', 'ENGLISH_NAME', 'COMMUNITY','POSTAL_CODE']

health_transformed_data_df = health_data_df[health_columns].copy()
health_transformed_data_df.head()

,X,Y,OGF_ID,SERVICE_TYPE,ENGLISH_NAME,COMMUNITY,POSTAL_CODE
0,-81.926396,45.978085,127908055,Family Health Team - Contract,Northeastern Manitoulin Family Health Team,Little Current,P0P1K0
1,-81.320617,48.476893,127908056,Family Health Team - Contract,Northern College (East End FHT),Timmins,P4N8R6
2,-78.199754,43.970248,127908057,Family Health Team - Contract,Northumberland FHT,Cobourg,K9A4J7
3,-79.716322,43.482632,127908058,Family Health Team - Contract,OakMed Family Health Team,Oakville,L6H7S8
4,-75.719439,45.393236,127908059,Family Health Team - Contract,Ottawa Hospital Academic FHT,Ottawa,K1Y4K7

# Transform:
## Rename columns

In [8]:
health_transformed_data_df = health_transformed_data_df.rename(columns={'Y': 'Latitude', 
                                'X': 'Longitude',
                                'OGF_ID': 'Location_ID',
                                'SERVICE_TYPE':'Service_Type',
                                'ENGLISH_NAME': 'Name',
                                'COMMUNITY': 'Community',
                                'POSTAL_CODE': 'Postal_Code'})

health_transformed_data_df.head()

,Longitude,Latitude,Location_ID,Service_Type,Name,Community,Postal_Code
0,-81.926396,45.978085,127908055,Family Health Team - Contract,Northeastern Manitoulin Family Health Team,Little Current,P0P1K0
1,-81.320617,48.476893,127908056,Family Health Team - Contract,Northern College (East End FHT),Timmins,P4N8R6
2,-78.199754,43.970248,127908057,Family Health Team - Contract,Northumberland FHT,Cobourg,K9A4J7
3,-79.716322,43.482632,127908058,Family Health Team - Contract,OakMed Family Health Team,Oakville,L6H7S8
4,-75.719439,45.393236,127908059,Family Health Team - Contract,Ottawa Hospital Academic FHT,Ottawa,K1Y4K7

# Transform:
## Drop unnecessary rows

In [9]:
service_types = ['Independent Health Facility', 'Retirement Home', 'Long-Term Care Home',
    'Senior Active Living Centre', 'Hospital - Corporation', 'AIDS Bureau',
    'Hospital - Site', 'Community Health Centre', 'Public Health Unit Office',
    "Children's Treatment Centre"]

health_columns = ['Latitude', 'Longitude', 'Location_ID','Service_Type', 'Name', 'Community','Postal_Code']

health_clean_data_df = pd.DataFrame(columns=health_columns)

for i in range(9):
    temp = health_transformed_data_df.loc[health_transformed_data_df['Service_Type'] == service_types[i], :] 
    health_clean_data_df = health_clean_data_df.append(temp)
    
health_clean_data_df.head()

/Users/ahmadmahroo/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,Community,Latitude,Location_ID,Longitude,Name,Postal_Code,Service_Type
298,Toronto,43.655559,127909184,-79.457512,Choice in Health Clinic,M6P1A9,Independent Health Facility
299,Toronto,43.707537,127909185,-79.376238,The Morgentaler Clinic,M4S1V4,Independent Health Facility
300,Ottawa,45.420961,127909186,-75.700930,The Morgentaler Clinic,K1P5N2,Independent Health Facility
301,Toronto,43.662191,127909187,-79.366449,Cabbagetown Women's Clinic,M5A2G7,Independent Health Facility
302,Toronto,43.759448,127909188,-79.224137,Markham - Lawrence X-Ray and Ultrasound,M1G1P4,Independent Health Facility

# Transform:
## set index for dataframe and round lat and lng

In [10]:
health_clean_data_df.set_index("Location_ID", inplace=True)
health_clean_data_df['Latitude'] = health_clean_data_df['Latitude'].round()
health_clean_data_df['Longitude'] = health_clean_data_df['Longitude'].round()

health_clean_data_df.head()

,Community,Latitude,Longitude,Name,Postal_Code,Service_Type
Location_ID,,,,,,
127909184,Toronto,44.0,-79.0,Choice in Health Clinic,M6P1A9,Independent Health Facility
127909185,Toronto,44.0,-79.0,The Morgentaler Clinic,M4S1V4,Independent Health Facility
127909186,Ottawa,45.0,-76.0,The Morgentaler Clinic,K1P5N2,Independent Health Facility
127909187,Toronto,44.0,-79.0,Cabbagetown Women's Clinic,M5A2G7,Independent Health Facility
127909188,Toronto,44.0,-79.0,Markham - Lawrence X-Ray and Ultrasound,M1G1P4,Independent Health Facility

# Load:
## Create database connection

In [11]:
connection_string = "postgres:828516@localhost:5432/covid-19_db"
engine = create_engine(f'postgresql://{connection_string}')

covid_transformed_data_df.to_sql(name='covid_cases', con=engine, if_exists='replace', index=False)
health_clean_data_df.to_sql(name='health_service_providers', con=engine, if_exists='replace', index=False)